.chat-wrapper {
    display: flex;
    margin: 10px 0;
  }
  
  .chat-wrapper.user {
    justify-content: flex-end; /* Align user messages to the right */
  }
  
  .chat-wrapper.bot {
    justify-content: flex-start; /* Align bot messages to the left */
  }
  
  .chat-content {
    max-width: 60%;
  }
  
  .chatting {
    padding: 10px;
    border-radius: 12px;
    font-size: 14px;
    word-wrap: break-word;
  }
  
  .chatting.user {
    background-color: #EFF1F3;
    font-weight: 500;
  }
  
  .chatting.bot {
    background-color: #00CE93;
    color: white;
    font-weight: 500;
  }
  